#root {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.componentBox { border: 1px solid #aaa; margin: 1em; padding: 1em; text-align: center; background: #efefef }

.NavBar {
  background: #0E2F38;
  color: #eee;
}

.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.NavBar ul li a {
  padding: 1.5em;
  color: #eee;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  color: hotpink;
}

.NavBar ul li a:hover {
  color: rgb(170, 168, 168);
}

.Footer {
  background: #0E2F38;
  color: #eee;
}

.Posts {
  height: 100vh;
}

.Dashboard {
  height: 100vh;
}


