.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.componentBox { border: 1px solid #aaa; margin: 1em; padding: 1em; text-align: center; background: #efefef; }

.hideBulletsStudents {
  list-style: none;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.25em;
}

.hideBulletsBreweries {
  list-style: none;
}


.FancyBorder {
  --mask: linear-gradient(#000 0 0) 50%/calc(100% - 37.00px) calc(100% - 37.00px) no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) 0 0/2em 2em round;
  mask: var(--mask);
  padding: 2em;
  background: linear-gradient(135deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #ffb56b) fixed;
  color: white;
}

.FancyBorder-blue {
  background: linear-gradient(135deg, #140061, #50006E, #64018C, #6955FF, #4684FF, #1FA7FF) fixed;
}

.FancyBorder-red {
  background: linear-gradient(135deg, #610000, #6e1f00, #8c1101, #ff5555, #ff8146, #ffa51f) fixed;
}

.FancyBorder-green {
  background: linear-gradient(135deg, #3c6100, #318500, #6cbe00, #69ff55, #46ff93, #1fffb4) fixed;
}